<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BatShop Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

<div class="container">

    <div class="left-panel">
        <a th:href="@{/home}" class="home-btn">← Home</a>

        <div class="brand">
            <h1>BAT<span>SHOP</span>.</h1>
            <p>
                Join the BatShop community.<br>
                Exclusive deals and best products await.
            </p>
        </div>
    </div>

    <div class="right-panel">

        <div class="login-card">
            <h2>Welcome Back</h2>
            <p class="sub">Enter your login information</p>

            <form th:action="@{/login}" method="post">

                <label>Email</label>
                <input type="text"
                       name="email"
                       placeholder="Email"
                       th:value="${email}"
                       th:classappend="${error} ? 'input-error' : ''">

                <label>Password</label>
                <input type="password"
                       name="password"
                       placeholder="Password"
                       th:classappend="${error} ? 'input-error' : ''">

                <div class="error-box"
                     th:if="${error}"
                     th:text="${error}">
                </div>

                <div class="success-box" th:if="${param.changed}">
                    ✅ Đổi mật khẩu thành công — vui lòng đăng nhập lại
                </div>

                <div class="forgot-container">
                    <a th:href="@{/forgot-password}" class="forgot-link">Quên mật khẩu?</a>
                </div>

                <button type="submit">LOG IN</button>
                <div class="register-container">
                    <p>Chưa có tài khoản?
                        <a th:href="@{/register}" class="register-link">Đăng ký ngay</a>
                    </p>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>