<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BatShop Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body>

<div class="container">

    <!-- LEFT PANEL -->
    <div class="left-panel">
        <a href="/" class="home-btn">← Home</a>

        <div class="brand">
            <h1>BAT<span>SHOP</span>.</h1>
            <p>
                Join the BatShop community.<br>
                Exclusive deals and best products await.
            </p>
        </div>
    </div>

    <!-- RIGHT PANEL -->
    <div class="right-panel">

        <div class="login-card">
            <h2>Welcome Back</h2>
            <p class="sub">Enter your login information</p>

            <form th:action="@{/login}" method="post">

                <label>Email</label>
                <input type="text" name="email" placeholder="Email">

                <label>Password</label>
                <input type="password" name="password" placeholder="Password">

                <button type="submit">LOG IN</button>

                <p th:if="${param.error}" class="error">
                    Sai email hoặc mật khẩu
                </p>
            </form>
        </div>
    </div>
</div>
</body>
</html>
