<link rel="stylesheet" th:href="@{/css/admin/user.css}">

<h2>Manager Users</h2>

<table class="admin-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Họ tên</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="u : ${users}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.fullName}"></td>
        <td th:text="${u.email}"></td>
        <td th:text="${u.phone}"></td>
        <td>
            <span class="badge" th:text="${u.role}"></span>
        </td>
        <td th:text="${#temporals.format(u.createdAt, 'dd/MM/yyyy HH:mm')}"></td>
    </tr>
    </tbody>
</table>
