<aside th:fragment="sidebar">
    <ul>
        <li><a th:href="@{/admin/dashboard}">Dashboard</a></li>
        <li><a th:href="@{/admin/manageruser}">Managr Users</a></li>
        <li><a th:href="@{/admin/products}">Manage Products</a></li>
        <li><a th:href="@{/admin/banners}">Manage Banners</a></li>
        <li><a th:href="@{/admin/blogs}">Manage Blogs</a></li>
        <li><a th:href="@{/admin/categories}">Manage Categories</a></li>
        <li><a th:href="@{/admin/orders}">Manage Orders</a></li>
        <li><a th:href="@{/admin/vouchers}">Manage Vouchers</a></li>
    </ul>
</aside>
