<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="site-footer">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <div class="footer-container">
        <div class="footer-left">
            <h3>BatShop</h3>
            <p>Chuyên cung cấp sản phẩm chất lượng</p>
            <p>© 2026 BatShop</p>
        </div>

        <div class="footer-right">
            <h4>Liên hệ</h4>
            <p> Hotline: <strong>0909 508 7335</strong></p>
            <p> support@batshop.vn</p>
            <p>Chuyên cung cấp sản phẩm chất lượng</p>
            <p>© 2026 BatShop</p>
        </div>
    </div>
</footer>


</html>
