<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <div class="top-header">
        <div class="container">

            <div class="logo">
                <img src="/images/logo.png" alt="Logo">
            </div>

            <div class="hotline">
                HOTLINE:
                <span>0905087335</span> |
                <span>0905087335</span>
            </div>

            <div class="search-box">
                <input type="text" placeholder="Tìm sản phẩm...">
                <button>🔍</button>
            </div>

            <div class="top-icons">
                <div class="icon"><br><small>TRA CỨU</small></div>
                <div class="icon"><br><small>TÀI KHOẢN</small></div>
                <a th:href="@{/cart/list}">giỏ hàng</a>
            </div>

        </div>
    </div>
    <nav th:fragment="header" class="main-nav">
        <a th:href="@{/home}">Trang chủ</a>
        <a th:href="@{/products}">Sản phẩm</a>
        <a th:href="@{/sale}">Sale off</a>
        <a th:href="@{/news}">Tin tức</a>
        <a th:href="@{/about}">Giới thiệu</a>
        <a th:href="@{/contact}">Liên hệ</a>
        <span style="float:right">
        <a th:href="@{/logout}">Logout</a>
        </span>
    </nav>
</header>



