<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" th:href="@{/css/checkout/checkout.css}">
</head>
<body>

<div th:replace="~{layout/header :: header}"></div>

<div class="checkout-container">

    <h2>Đơn hàng (<span th:text="${#lists.size(cartItems)}"></span> sản phẩm)</h2>

    <div class="order-item" th:each="item : ${cartItems}">
        <div class="item-left">
            <span class="qty" th:text="${item.quantity}"></span>
            <img th:if="${item.productVariant.product.images != null
                    and !item.productVariant.product.images.isEmpty()}"
                 th:src="@{/uploads/product/{img}(img=${item.productVariant.product.images[0].image})}"
                 alt="product">
        </div>

        <div class="item-info">
            <p th:if="${item.productVariant.brand != null}"
               th:text="${item.productVariant.brand.name}">
            </p>
            <p th:if="${item.productVariant.size != null}">
                Size:
                <span th:text="${item.productVariant.size.name}"></span>
            </p>
        </div>

        <div class="item-price"
             th:text="${#numbers.formatDecimal(item.displayPrice,0,'POINT',0,'COMMA')} + ' đ'">
        </div>
        <span class="qty" th:text="'x ' + ${item.quantity}"></span>
    </div>

    <form th:action="@{/checkout/apply-voucher}" method="post">
        <input type="text" name="code">
        <button type="submit">Áp dụng</button>
    </form>
    <p th:if="${session.voucher != null}">
        Voucher:
        <b th:text="${session.voucher.code}"></b>
    </p>
    <div class="total">
        <span>Tổng cộng</span>
        <strong th:text="${#numbers.formatDecimal(totalCart,0,'POINT',0,'COMMA')} + ' đ'"></strong>
    </div>
    <p th:if="${discount > 0}">
        Giảm giá:
        - <span th:text="${#numbers.formatDecimal(discount,0,'POINT',0,'COMMA')} + ' đ'"></span>
    </p>
    <p>
        Tổng tiền:
        <span th:text="${#numbers.formatDecimal(totalCart,0,'POINT',0,'COMMA')} + ' đ'"></span>
    </p>
    <form th:action="@{/admin/orders/confirm}" method="post">

        <!--ĐỊA CHỈ -->
        <div class="address-box">
            <h3>Địa chỉ giao hàng</h3>

            <!-- Địa chỉ đang chọn -->
            <div class="selected-address" onclick="toggleAddressList()">

                <div id="selectedAddressContent"
                     th:if="${addresses != null and !addresses.isEmpty()}">

                    <span th:text="${defaultAddress != null ? defaultAddress.detail : addresses[0].detail}"></span>,
                    <span th:text="${defaultAddress != null ? defaultAddress.ward : addresses[0].ward}"></span>,
                    <span th:text="${defaultAddress != null ? defaultAddress.district : addresses[0].district}"></span>,
                    <span th:text="${defaultAddress != null ? defaultAddress.city : addresses[0].city}"></span>

                </div>

                <span class="dropdown-icon">▼</span>
            </div>

            <!-- Danh sách địa chỉ -->
            <div id="addressList" class="address-list">
                <div th:each="addr : ${addresses}" class="address-item">
                    <label>
                        <input type="radio"
                               name="addressId"
                               th:value="${addr.id}"
                               th:checked="${defaultAddress != null and addr.id == defaultAddress.id}"
                               onclick="selectAddress(this)"/>

                        <span class="addr-info">
                    <span th:text="${addr.detail}"></span>,
                    <span th:text="${addr.ward}"></span>,
                    <span th:text="${addr.district}"></span>,
                    <span th:text="${addr.city}"></span>
                </span>
                    </label>
                </div>
            </div>

        </div>
        <script>
            function toggleAddressList() {
                const list = document.getElementById("addressList");
                list.style.display = list.style.display === "block" ? "none" : "block";
            }

            function selectAddress(radio) {
                const content = radio.closest("label").querySelector(".addr-info").innerHTML;

                document.getElementById("selectedAddressContent").innerHTML = content;

                // đóng dropdown sau khi chọn
                document.getElementById("addressList").style.display = "none";
            }

            // click ra ngoài thì tự đóng
            document.addEventListener("click", function (event) {
                const box = document.querySelector(".address-box");
                const list = document.getElementById("addressList");

                if (!box.contains(event.target)) {
                    list.style.display = "none";
                }
            });
        </script>
        <!--PAYMENT-->
        <div class="payment-box">
            <h3>Phương thức thanh toán</h3>

            <label class="payment-item">
                <input type="radio" name="paymentMethod" value="COD" checked>
                Thanh toán khi nhận hàng (COD)
            </label>

            <label class="payment-item">
                <input type="radio" name="paymentMethod" value="VNPAY">
                Thanh toán qua VNPAY
            </label>
        </div>

        <button type="submit">ĐẶT HÀNG</button>

    </form>


    <div class="note">
        <p>- Giá trên đã gồm phí vận chuyển 30 nghìn đồng.</p>
    </div>

</div>

<div th:replace="layout/footer :: footer"></div>

</body>
</html>