<link rel="stylesheet" th:href="@{/css/admin/brand.css}">

<h2 class="page-title">Manager Brands</h2>

<form th:action="@{/admin/brands}" method="get" style="margin-bottom:10px;">
    <input type="text"
           name="keyword"
           th:value="${keyword}"
           placeholder="Search brand..."
           class="search-input">

    <button type="submit">Search</button>
</form>

<div class="page-actions right">
    <a th:href="@{/admin/brands/add}" class="btn btn-primary">
        + Add Brand
    </a>
</div>

<div class="table-wrapper">
    <table class="admin-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="b : ${brands}">
            <td th:text="${b.id}"></td>

            <td th:text="${b.name}"></td>

            <td>
                <span class="badge"
                      th:text="${b.status ? 'Active' : 'Inactive'}"
                      th:classappend="${b.status} ? 'badge-active' : 'badge-inactive'">
                </span>
            </td>

            <td class="action-col">
                <a th:href="@{/admin/brands/edit/{id}(id=${b.id})}"
                   class="btn btn-edit">Edit</a>
                <span class="divider">|</span>
                <a th:href="@{/admin/brands/delete/{id}(id=${b.id})}"
                   class="btn btn-delete"
                   onclick="return confirm('Delete this brand?')">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


