<div th:fragment="home-product">

    <div class="category-tabs">
        <a th:href="@{/home} + '#new-products'"
           th:classappend="${selectedCategory == null} ? 'active'">
            Tất cả
        </a>
        <a th:each="c : ${categories}"
           th:href="@{/home(categoryId=${c.id})} + '#new-products'"
           th:text="${c.name}"
           th:classappend="${selectedCategory == c.id} ? 'active'">
        </a>
    </div>

    <div class="product-carousel-wrapper">
        <button class="scroll-btn prev-btn" onclick="scrollProductGrid(-1)">&#10094;</button>

        <div class="product-grid" id="productGrid">
            <div th:each="p : ${products}" class="product-card">

                <a th:href="@{/product/detail/{id}(id=${p.id})}" class="product-image">
                    <img th:if="${p.images != null and !p.images.isEmpty()}"
                         th:src="@{'/uploads/product/' + ${p.images[0].image}}" alt="Product Image">
                    <img th:if="${p.images == null or p.images.isEmpty()}"
                         src="/img/no-image.png" alt="No Image">
                </a>

                <div class="product-info">
                    <a th:href="@{/product/detail/{id}(id=${p.id})}" class="product-title">
                        <h3 th:text="${p.name}"></h3>
                    </a>
                    <p class="product-brand" th:text="${p.brand != null ? p.brand.name : 'No brand'}"></p>
                    <div class="price"
                         th:text="${#numbers.formatDecimal(p.price,0,'COMMA',0,'POINT')} + ' ₫'">
                    </div>
                </div>

            </div>
        </div>

        <button class="scroll-btn next-btn" onclick="scrollProductGrid(1)">&#10095;</button>
    </div>

</div>