<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/admin/brand.css}">
</head>
<body>
<h2 class="page-title">Manage Sizes</h2>

<div class="page-actions right">
    <a th:href="@{/admin/sizes/add}" class="btn btn-primary">+ Add Size</a>
</div>

<div class="table-wrapper">
    <table class="admin-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Size Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${sizes}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.name}"></td>
            <td>
                <span th:text="${s.status ? 'Active' : 'Inactive'}"></span>
            </td>
            <td>
                <a th:href="@{/admin/sizes/edit/{id}(id=${s.id})}" class="btn-edit">Edit</a> |
                <a th:href="@{/admin/sizes/delete/{id}(id=${s.id})}"
                   onclick="return confirm('Xóa size này nhé?')" class="btn-delete">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>