<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/homeproduct.css}">
    <link rel="stylesheet" th:href="@{/css/user/order-list.css}">
    <title>Order List</title>
</head>
<body>
<div th:replace="layout/header :: header"></div>
<div class="order-container">
<h2>Your Orders</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Tên Sản Phầm</th>
        <th>Tổng Giá Trị</th>
        <th>Trạng Thái</th>
        <th>Hành Động</th>
    </tr>

    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td>
            <div th:each="item : ${order.orderItems}">
                <span th:text="${item.productVariant.product.name} + ' x' + ${item.quantity}"></span>
            </div>
        </td>
        <td th:text="${#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')} + '₫'"></td>
        <td th:text="${order.status}"></td>
        <td>
            <a th:href="@{/user/orders/{id}(id=${order.id})}">
                Xem
            </a>
        </td>
    </tr>

</table>
</div>
</body>
</html>