<div th:fragment="product-list">
    <h2 class="section-title">Sản phẩm cầu lông</h2>

<div class="product-grid">
    <div class="product-card" th:each="p : ${products}">

        <!-- IMAGE -->
        <div class="product-image">

            <img th:if="${p.images != null and !p.images.isEmpty()}"
                 th:src="@{/uploads/products/{img}(img=${p.images[0].image})}"
                 alt="Product image">

            <img th:if="${p.images == null or p.images.isEmpty()}"
                 src="/img/no-image.png"
                 alt="No image">

        </div>


        <div class="product-info">
            <h3 th:text="${p.name}"></h3>
            <p class="brand" th:text="${p.brand.name}"></p>
            <p class="category" th:text="${p.category.name}"></p>
            <p class="price"
               th:text="${#numbers.formatDecimal(p.price,0,'COMMA',0,'POINT')} + ' ₫'">
            </p>
        </div>

        <div class="product-actions">
            <a th:href="@{/product/detail/{id}(id=${p.id})}"
               class="btn-detail">
                Xem chi tiết
            </a>
        </div>

    </div>
</div>
</div>
