<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
    <link rel="stylesheet" th:href="@{/css/admin/editproduct.css}">
</head>
<body>

<div class="admin-content">
    <div class="form-card">

        <h2>Edit Product</h2>

        <form th:action="@{/admin/products/edit}"
              method="post"
              th:object="${product}"
              enctype="multipart/form-data">

            <input type="hidden" th:field="*{id}"/>

            <label>Tên Sản Phẩm</label>
            <input type="text" th:field="*{name}" required><br>

            <label>Mô Tả Sản Phẩm</label>
            <textarea th:field="*{description}"></textarea><br>

            <label>Giá Sản Phẩm</label>
            <input type="number" step="0.01" th:field="*{price}" required><br>

            <label>Danh Mục Sản Phẩm</label>
            <select id="categorySelect" th:field="*{category.id}">
                <option th:each="c : ${categories}"
                        th:value="${c.id}"
                        th:text="${c.name}">
                </option>
            </select><br>

            <label>Hãng Sản Phẩm</label>
            <select th:field="*{brand.id}">
                <option th:each="b : ${brands}"
                        th:value="${b.id}"
                        th:text="${b.name}">
                </option>
            </select><br><br>
            <label>Trạng Thái Sản Phẩm</label>
            <select th:field="*{status}">
                <option th:value="true" th:selected="${product.status} == true">Active</option>
                <option th:value="false" th:selected="${product.status} == false">Inactive</option>
            </select>
            <br>
            <h3>Ảnh Sản Phẩm</h3>

            <div th:if="${product.images.size() > 0}">
                <img th:src="@{'/uploads/product/' + ${product.images[0].image}}"
                     width="150"
                     style="border:1px solid #ccc;padding:5px">
            </div>

            <br>

            <label>Thay Đổi Hình Ảnh Sản Phẩm</label>
            <input type="file"
                   name="imageFile"
                   id="productImageInput"
                   accept="image/*">

            <br><br>

            <div id="productPreview"></div>

            <h3>Sản Phẩm Biến Thể</h3>

            <div id="variantContainer">

                <div th:each="variant, stat : *{variants}" class="variant-item">

                    <hr>

                    <input type="hidden"
                           th:field="*{variants[__${stat.index}__].id}">

                    <label>Số lượng sản phẩm trong kho</label>
                    <input type="number"
                           th:field="*{variants[__${stat.index}__].stock}"><br>

                    <label>Giá biến thể</label>
                    <input type="number"
                           step="0.01"
                           th:field="*{variants[__${stat.index}__].additionalPrice}"><br>

                    <label>Hãng sản phẩm</label>
                    <select th:field="*{variants[__${stat.index}__].brand.id}">
                        <option th:each="b : ${brands}"
                                th:value="${b.id}"
                                th:text="${b.name}">
                        </option>
                    </select><br>

                    <div class="normal-fields">

                        <label>Kích Thước Sản Phẩm</label>
                        <select th:field="*{variants[__${stat.index}__].size.id}">
                            <option th:each="s : ${sizes}"
                                    th:value="${s.id}"
                                    th:text="${s.name}">
                            </option>
                        </select><br>

                        <label>Màu Sắc Sản Phẩm</label>
                        <select th:field="*{variants[__${stat.index}__].color.id}">
                            <option th:each="c : ${colors}"
                                    th:value="${c.id}"
                                    th:text="${c.name}">
                            </option>
                        </select><br>

                    </div>

                    <div class="racket-fields">

                        <label>Level</label>
                        <select th:field="*{variants[__${stat.index}__].racketDetail.level}">
                            <option th:each="l : ${racketLevels}"
                                    th:value="${l}"
                                    th:text="${l}">
                            </option>
                        </select><br>

                        <label>Length</label>
                        <select th:field="*{variants[__${stat.index}__].racketDetail.length}">
                            <option th:each="len : ${racketLengths}"
                                    th:value="${len}"
                                    th:text="${len}">
                            </option>
                        </select><br>

                        <label>Handle Length</label>
                        <select th:field="*{variants[__${stat.index}__].racketDetail.racketHandleLength}">
                            <option th:each="h : ${handleLengths}"
                                    th:value="${h}"
                                    th:text="${h}">
                            </option>
                        </select><br>

                        <label>Style</label>
                        <select th:field="*{variants[__${stat.index}__].racketDetail.style}">
                            <option th:each="s : ${racketStyles}"
                                    th:value="${s}"
                                    th:text="${s}">
                            </option>
                        </select><br>

                        <label>Weight</label>
                        <select th:field="*{variants[__${stat.index}__].racketDetail.weight}">
                            <option th:each="w : ${racketWeights}"
                                    th:value="${w}"
                                    th:text="${w}">
                            </option>
                        </select><br>

                        <label>Technology</label>
                        <input type="text"
                               th:field="*{variants[__${stat.index}__].racketDetail.technology}">
                        <br>

                        <label>Game Content</label>
                        <input type="text"
                               th:field="*{variants[__${stat.index}__].racketDetail.gamecontent}">
                        <br>

                        <label>Swing Weight</label>
                        <input type="text"
                               th:field="*{variants[__${stat.index}__].racketDetail.swingWeight}">
                        <br>

                        <label>Balance Point</label>
                        <select th:field="*{variants[__${stat.index}__].racketDetail.equilibriumPoint}">
                            <option th:each="e : ${equilibriumPoints}"
                                    th:value="${e}"
                                    th:text="${e}">
                            </option>
                        </select><br>

                        <label>Shaft Hardness</label>
                        <select th:field="*{variants[__${stat.index}__].racketDetail.chopstickHardness}">
                            <option th:each="c : ${chopstickHardness}"
                                    th:value="${c}"
                                    th:text="${c}">
                            </option>
                        </select><br>

                    </div>

                    <h4>Ảnh hiện tại của biển thể</h4>

                    <div class="variant-images">

                        <div th:each="img : ${variant.images}"
                             style="display:inline-block;position:relative;margin:5px">

                            <img th:src="@{'/uploads/product/' + ${img.image}}"
                                 width="80"
                                 style="border:1px solid #ccc;padding:3px">

                            <a th:href="@{/admin/products/delete-variant-image/{id}(id=${img.id})}"
                               onclick="return confirm('Delete this image?')"
                               style="
position:absolute;
top:-8px;
right:-8px;
background:red;
color:white;
border-radius:50%;
width:20px;
height:20px;
text-align:center;
font-size:12px;
text-decoration:none;">
                                ✕
                            </a>

                        </div>

                    </div>

                    <br>

                    <label>Thêm Ảnh Cho Biến Thể</label>

                    <input type="file"
                           th:name="'variantImages[' + ${stat.index} + ']'"
                           multiple
                           accept="image/*"
                           class="variantImageInput">

                    <div class="variantPreview"></div>

                </div>

            </div>

            <br>

            <button type="button" onclick="addVariant()">+ Bổ sung biến thể</button>

            <br><br>

            <button type="submit">Lưu thay đổi</button>
        </form>
            <div id="variantTemplate" style="display:none">

                <div class="variant-item">

                    <hr>

                    <label>Số Lượng Sản Phẩm</label>
                    <input type="number" name="variants[__index__].stock"><br>

                    <label>Giá Biến Thể</label>
                    <input type="number"
                           step="0.01"
                           name="variants[__index__].additionalPrice"><br>

                    <label>Hãng Sản Phẩm</label>
                    <select name="variants[__index__].brand.id">
                        <option th:each="b : ${brands}"
                                th:value="${b.id}"
                                th:text="${b.name}">
                        </option>
                    </select><br>

                    <div class="normal-fields">

                        <label>Kích Thước Sản Phẩm</label>
                        <select name="variants[__index__].size.id">
                            <option th:each="s : ${sizes}"
                                    th:value="${s.id}"
                                    th:text="${s.name}">
                            </option>
                        </select><br>

                        <label>Màu Sắc Sản Phẩm</label>
                        <select name="variants[__index__].color.id">
                            <option th:each="c : ${colors}"
                                    th:value="${c.id}"
                                    th:text="${c.name}">
                            </option>
                        </select><br>

                    </div>

                    <div class="racket-fields">

                        <label>Level</label>
                        <select name="variants[__index__].racketDetail.level">
                            <option th:each="l : ${racketLevels}"
                                    th:value="${l}"
                                    th:text="${l}">
                            </option>
                        </select><br>

                        <label>Length</label>
                        <select name="variants[__index__].racketDetail.length">
                            <option th:each="l : ${racketLengths}"
                                    th:value="${l}"
                                    th:text="${l}">
                            </option>
                        </select><br>

                    </div>

                    <label>Variant Images</label>

                    <input type="file"
                           name="variantImages[__index__]"
                           multiple
                           accept="image/*"
                           class="variantImageInput">

                    <div class="variantPreview"></div>

                </div>

            </div>



    </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function(){

        const categorySelect = document.getElementById("categorySelect");

        function toggleFields(){

            const isRacket = categorySelect.value === "3";

            document.querySelectorAll(".variant-item").forEach(item=>{

                const normal = item.querySelector(".normal-fields");
                const racket = item.querySelector(".racket-fields");

                if(isRacket){
                    normal.style.display="none";
                    racket.style.display="block";
                }else{
                    normal.style.display="block";
                    racket.style.display="none";
                }

            });

        }

        categorySelect.addEventListener("change",toggleFields);

        toggleFields();

    });

    const productInput = document.getElementById("productImageInput");

    if(productInput){

        productInput.addEventListener("change",function(){

            const preview = document.getElementById("productPreview");
            preview.innerHTML="";

            const file=this.files[0];

            if(file){

                const reader=new FileReader();

                reader.onload=function(e){

                    const img=document.createElement("img");
                    img.src=e.target.result;
                    img.style.width="150px";

                    preview.appendChild(img);

                };

                reader.readAsDataURL(file);

            }

        });

    }

    let variantIndex = [[${product.variants.size()}]];

    function addVariant(){

        const template =
            document.getElementById("variantTemplate").innerHTML;

        const html =
            template.replace(/__index__/g, variantIndex);

        const div = document.createElement("div");

        div.innerHTML = html;

        document
            .getElementById("variantContainer")
            .appendChild(div.firstElementChild);

        variantIndex++;

    }

</script>

</body>
</html>

