<h2>Manager Products</h2>

<a th:href="@{/admin/products/add}">+ Add Product</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${products}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.category.name}"></td>
        <td th:text="${p.brand.name}"></td>
        <td th:text="${#numbers.formatDecimal(p.price,0,'COMMA',0,'POINT')}"></td>
        <td th:text="${p.status ? 'Active' : 'Inactive'}"></td>
        <td>
            <a th:href="@{/admin/products/edit/{id}(id=${p.id})}">Edit</a> |
            <a th:href="@{/admin/products/delete/{id}(id=${p.id})}"
               onclick="return confirm('Delete product?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
