<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/homeproduct.css}">
</head>
<body>

<!-- Đầu -->
<div th:replace="layout/header :: header"></div>

<!-- Giữa -->
<main style="padding:20px">
    <h1>Welcome to Home Page</h1>
    <!-- PRODUCT LIST -->
    <div th:replace="user/productvariant-list :: productvariant-list"></div>
</main>

<!-- Đích -->
<div th:replace="layout/footer :: footer"></div>

</body>
</html>
