<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div >

    <div th:fragment="content">

        <link rel="stylesheet" th:href="@{/css/admin/order.css}">
        <h2>Manager Orders</h2>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Shipping Address</th>
                <th>Total Price</th>
                <th>Payment Method</th>
                <th>Payment Status</th>
                <th>Created At</th>
                <th>Status</th>
                <th>Order Item</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="o : ${orders}">
                <td th:text="${o.id}"></td>

                <td th:text="${o.user != null ? o.user.fullName : 'Guest'}"></td>

                <td>
                    <div th:if="${o.shippingAddress != null}">
                        <strong th:text="${o.shippingAddress.fullName}"></strong><br>
                        <span th:text="${o.shippingAddress.phone}"></span><br>
                        <span th:text="${o.shippingAddress.addressLine}"></span><br>
                        <span th:text="${o.shippingAddress.district + ', ' + o.shippingAddress.city}"></span>
                    </div>
                    <span th:if="${o.shippingAddress == null}">
        No address
    </span>
                </td>

                <td th:text="${#numbers.formatDecimal(o.totalPrice,0,'COMMA',0,'POINT')}"></td>

                <td th:text="${o.paymentMethod}"></td>

                <td th:text="${o.paymentStatus}"></td>

                <td th:text="${#temporals.format(o.createdAt,'dd/MM/yyyy HH:mm')}"></td>

                <td>
                    <form th:action="@{/admin/orders/edit/{id}(id=${o.id})}" method="post">
                        <select name="status" onchange="this.form.submit()">
                            <option th:each="s : ${T(com.ra.batshop.model.Enum.OrderStatus).values()}"
                                    th:value="${s}"
                                    th:text="${s}"
                                    th:selected="${s.name() == o.status.name()}">
                            </option>
                        </select>
                    </form>
                </td>

                <td>
                    <a th:href="@{/orders_item/admin/{id}(id=${o.id})}">View</a>
                </td>

            </tr>
            </tbody>
        </table>

    </div>

</div>

</body>
</html>