<h2>Manage Orders</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="o : ${orders}">
        <td th:text="${o.id}"></td>

        <td th:text="${o.user != null ? o.user.username : 'Guest'}"></td>

        <td th:text="${o.totalPrice != null
            ? #numbers.formatDecimal(o.totalPrice,0,'COMMA',0,'POINT')
            : '0'}">
        </td>

        <td th:text="${o.status}"></td>

        <td th:text="${o.createdAt != null
            ? #temporals.format(o.createdAt,'dd/MM/yyyy HH:mm')
            : ''}">
        </td>

        <td>
            <a th:href="@{/admin/orders/{id}(id=${o.id})}">View</a>
        </td>
    </tr>
    </tbody>
</table>
