<link rel="stylesheet" th:href="@{/css/admin/voucher.css}">

<div class="voucher-container">

    <div class="voucher-header">
        <div>
            <h2>Manager Vouchers</h2>
            <!-- Search voucher -->
            <form th:action="@{/admin/vouchers}" method="get" style="margin-bottom:15px;">
                <input type="text"
                       name="keyword"
                       th:value="${keyword}"
                       placeholder=" Search voucher..."
                       class="search-input">
                <!-- Status -->
                <select name="status" class="filter-select">
                    <option value="">All Status</option>
                    <option value="true" th:selected="${status == true}">Active</option>
                    <option value="false" th:selected="${status == false}">Inactive</option>
                </select>
                <!-- Discount -->
                <select name="discount" class="filter-select">
                    <option value="">All Discount</option>
                    <option value="10" th:selected="${discount == 10}">≥ 10%</option>
                    <option value="30" th:selected="${discount == 30}">≥ 30%</option>
                    <option value="50" th:selected="${discount == 50}">≥ 50%</option>
                </select>
                <!-- Button -->
                <button type="submit">Search</button>
            </form>
        </div>

        <a th:href="@{/admin/vouchers/add}" class="btn-add">
            + Add Voucher
        </a>
    </div>

    <div class="voucher-table-wrapper">
        <table class="voucher-table">

            <thead>
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Discount (%)</th>
                <th>Status</th>
                <th>Valid From</th>
                <th>Valid To</th>
                <th>Max Discount</th>
                <th>Min Product Price</th>
                <th>Usage Limit</th>
                <th>Used</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="v : ${vouchers}">

                <!-- ID -->
                <td th:text="${v.id}"></td>

                <!-- CODE -->
                <td>
                    <span class="voucher-code"
                          th:text="${v.code}">
                    </span>
                </td>

                <!-- DISCOUNT -->
                <td th:text="${v.discountPercent + '%'}"></td>

                <!-- STATUS -->
                <td>
                    <span th:classappend="${v.active}
                          ? 'status status-active'
                          : 'status status-inactive'"
                          th:text="${v.active ? 'Active' : 'Inactive'}">
                    </span>
                </td>

                <!-- VALID FROM -->
                <td th:text="${v.validFrom != null
                    ? #temporals.format(v.validFrom,'dd/MM/yyyy') : ''}">
                </td>

                <!-- VALID TO -->
                <td th:text="${v.validTo != null
                    ? #temporals.format(v.validTo,'dd/MM/yyyy') : ''}">
                </td>

                <!-- MAX -->
                <td th:text="${#numbers.formatDecimal(v.maxDiscountAmount,0,'COMMA',0,'POINT')} + ' VND'">
                </td>

                <!-- MIN  -->
                <td th:text="${v.minOrderAmount != null? #numbers.formatDecimal(v.minOrderAmount,0,'COMMA',0,'POINT') + ' VND': '0 VND'}">
                </td>

                <!-- USAGE LIMIT -->
                <td th:text="${v.totalUsageLimit != null ? v.totalUsageLimit : 'Unlimited'}">
                </td>

                <!-- USED -->
                <td th:text="${v.totalUsed != null ? v.totalUsed : 0}"></td>

                <!-- ACTION -->
                <td>
                    <div class="action-buttons">

                        <!-- EDIT -->
                        <a th:href="@{/admin/vouchers/edit/{id}(id=${v.id})}"
                           class="btn-edit">
                            Edit
                        </a>

                        <!-- TOGGLE -->
                        <a th:href="@{/admin/vouchers/toggle/{id}(id=${v.id})}"
                           th:classappend="${v.active}
                                ? 'btn-deactivate'
                                : 'btn-activate'"
                           class="btn-toggle">

                            <span th:text="${v.active
                                ? 'Deactivate'
                                : 'Activate'}">
                            </span>

                        </a>

                    </div>
                </td>

            </tr>
            </tbody>

        </table>
    </div>

</div>