<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/homeproduct.css}">
    <link rel="stylesheet" th:href="@{/css/user/cart.css}">
</head>
<body>
<div th:replace="layout/header :: header"></div>


<h1>giở hàng</h1>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>productVariant</th>
        <th>quantity</th>
        <th>price</th>
        <th>tổng</th>
        <th>delete</th>
    </tr>
    </thead>
    <tbody>

    <!-- giỏ hàng rỗng -->
    <tr th:if="${#lists.isEmpty(cartItems)}">
        <td colspan="6" style="text-align:center; padding:20px;">
            🛒 Giỏ hàng của bạn đang trống
        </td>
    </tr>

    <!-- có sản phẩm -->
    <tr th:each="item, stat : ${cartItems}"
        th:unless="${#lists.isEmpty(cartItems)}">

        <td th:text="${stat.count}"></td>
        <td th:text="${item.productVariant.product.name}"></td>
        <td>
            <form th:action="@{/cart/update}" method="post">
                <input type="hidden"
                       name="productVariantId"
                       th:value="${item.productVariant.id}"/>

                <input type="hidden" name="id" th:value="${item.id}"/>
                <input type="number"
                       name="quantity"
                       th:value="${item.quantity}"
                       min="1"
                       style="width:60px"
                       onchange="this.form.submit()"/>
            </form>
        </td>
        <td th:text="${#numbers.formatDecimal(item.productVariant.additionalPrice, 0, 'POINT', 0, 'COMMA')}"></td>
        <td th:text="${#numbers.formatDecimal(item.quantity * item.productVariant.additionalPrice, 0, 'POINT', 0, 'COMMA')}"></td>
        <td>
            <form th:action="@{/cart/delete}" method="post">
                <input type="hidden" name="id" th:value="${item.id}">
                <button type="submit">delete</button>
            </form>
        </td>
    </tr>

    </tbody>
</table>
<div class="cart-summary">
<div>
    <td  th:text="${#numbers.formatDecimal(
        totalCart, 0, 'POINT', 0, 'COMMA')} + ' đ'">
    </td>
    <div th:if="${param.error != null and param.error[0] == 'stock'}"
         style="color:red;font-weight:bold;margin-bottom:10px;">
        Xin lỗi, hiện tại chúng tôi chỉ còn
        <b th:text="${param.stock[0]}"></b>
        sản phẩm trong kho.
    </div>
</div>
    <a th:href="@{/checkout/list}" class="checkout-btn">
        Thanh toán
    </a>
</div>

<!-- đích -->
<div th:replace="layout/footer :: footer"></div>
</body>
</html>