<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/homeproduct.css}">
    <link rel="stylesheet" th:href="@{/css/user/cart.css}">
</head>
<body>
<div th:replace="layout/header :: header"></div>
<h1>giở hàng</h1>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>productVariant</th>
        <th>quantity</th>
        <th>price</th>
        <th>tổng</th>
        <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item, stat : ${cartItems}">
        <td th:text="${stat.count}"></td>
        <td th:text="${item.productVariant.product.name}"></td>
        <td>
            <form th:action="@{/cart/update}" method="post">
                <input type="hidden" name="id"
                       th:value="${item.id}"/>

                <input type="number"
                       name="quantity"
                       th:value="${item.quantity}"
                       min="1"
                       style="width:60px"/>

                <button type="submit">Cập nhật</button>
            </form>
        </td>
        <td th:text="${item.productVariant.additionalPrice}"></td>
        <td th:text="${item.quantity*item.getProductVariant().additionalPrice}"></td>
        <td>
            <form th:action="@{/cart/delete}" method="post">
                <input type="hidden" name="id" th:value="${item.id}">
                <button type="submit">delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<button type="submit">Thành toán</button>
<!-- đích -->
<div th:replace="layout/footer :: footer"></div>
<a th:href="@{/change-password}" class="btn-change-pass">
    ChangePassword
</a>
<a th:href="@{/profile/edit}" class="btn-change-pass">
    UpdateProfile
</a>
</body>
</html>